<html>
  <head>
    <title>Swisher: ${title}</title>
    <link rel="icon" type="image/png" href="/assets/icon.png">
    <script src="/assets/jquery-1.7.1.min.js"> </script>
    % for script in scripts:
    <script src="/assets/${script}"> </script>
    % endfor
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  </head>
  <body>
  <%
    import cherrypy
    urlx = cherrypy.url().replace("http://", "")
    path = urlx[urlx.find('/')+1:]
    if path.endswith("/"):
        path = path[:-1]    
  %>
    <img id="title" src="/assets/logo.png" alt="Swisher"/>
    <div id="controls">
      <span  class="control-name">Card Reader:</span>
      <input class="button" type="button" title="Cancel Record" value="X" onclick="cancelRecord()"/>
      <span class="control-value" id="reader">&nbsp;</span>

      <span  class="control-name">Player:</span>
      <input class="button" type="button" title="Previous" value="|&#x25C0;" onclick="action('action', 'mpd.previous')"/>
      <input class="button" type="button" title="Stop"     value="&#x25A0;" onclick="action('action', 'mpd.stop')"/>
      <input class="button" type="button" title="Pause"    value="||"       onclick="action('action', 'mpd.pause')"/>
      <input class="button" type="button" title="Next"     value="&#x25B6;|" onclick="action('action', 'mpd.next')"/>
      <span class="control-value" id="mpd">&nbsp;</span>

      <span class="control-value" id="status"></span>
    </div>
    
    <div class="header">
      % for tab in tabs:
      <%
        taburl = tab.replace(" ", "")
        tab = tab.replace(" ", "&nbsp;")
        if tab == "Search":
          taburl = ""
      %>
        <span class="tab">
          % if path == taburl:
            <b>${tab}</b>
          % else:
            <a href="/${taburl}">${tab}</a>
          % endif
        </span>
      % endfor
    </div>
    <div class="body">
    ${self.body()}
    </div>
  </body>
</html>
