<html>
  <head>
    <title>Swisher: ${title}</title>
    <link rel="icon" type="image/png" href="/assets/icon.png">
    <script src="/assets/jquery-1.7.1.min.js"> </script>
    <script src="/assets/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/assets/functions.js"> </script>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/jquery-ui-1.10.0.custom.min.css"/>
  </head>
  <body>
  <%
    import cherrypy
    urlx = cherrypy.url().replace("http://", "")
    path = urlx[urlx.find('/')+1:-1]
  %>
    <img id="title" src="/assets/logo.png" alt="Swisher"/>
    <div id="controls">
      <span  class="control-name">Card Reader:</span>
      <input class="button" type="button" title="Cancel Record" value="X" onclick="action('cm', 'cancelrecord')"/>
      <span class="control-value" id="reader"></span>

      <span  class="control-name">Player:</span>
      <input class="button" type="button" title="Previous" value="|&#x25C0;" onclick="action('player', 'previous')"/>
      <input class="button" type="button" title="Stop"     value="&#x25A0;" onclick="action('player', 'stop')"/>
      <input class="button" type="button" title="Pause"    value="||"       onclick="action('player', 'pause')"/>
      <input class="button" type="button" title="Next"     value="&#x25B6;|" onclick="action('player', 'next')"/>
      <span class="control-value" id="mpd"></span>

      <span class="control-value" id="status"></span>
    </div>
    
    <div class="header">
      % for tab in tabs:
      <%
        taburl = tab.replace(" ", "")
        if tab == "Search":
          taburl = ""
      %>
        <span class="tab">
          % if path == taburl:
            <b>${tab}</b>
          % else:
            <a href="/${taburl}">${tab}</a>
          % endif
        </span>
      % endfor
    </div>
    <div class="body">
    ${self.body()}
    </div>
    <script>
       longPoll() 
    </script>
  </body>
</html>
