<%inherit file="base.html"/>
<%namespace name="defs" file="defs.html"/>

<form id="search">
  <p>Search by album or track name</p>
  <input id="searchbox" type="text" value="${search}" name="search" autofocus="true">
  <input type="submit" value="Search">
</form>

<div id="cards">
<h2>Albums</h2>
  % for value, name, longname in albums:
    ${defs.play_div(value, name, longname)}
  % endfor %
<h2>Tracks</h2>
  % for value, name, longname in tracks:
    ${defs.play_div(value, name, longname)}
  % endfor %
</div>
