<%inherit file="base.html"/>

<form id="search">
  <p>Search
  % for name, count in stats:
      ${count} ${name}
  % endfor
  for any track or album title. Initials work too.</p>
  <input id="searchbox" type="text" value="${search}" name="search" autofocus="true">
  <input type="submit" value="Search">
</form>
<div id="searchresults">
  <div id="list">
% for item in results:
  <div>
    <input type="button" value="&#x25B6;" title="Play now" onclick="action('${item.prefix()}', '${item.value()}')"/>
    <input type="button" class="rotate" value="&#x21af;" title="Record" onclick="record('${item.prefix()}', '${item.value()}')"/>
    ${item.prefix()} ${item.name()}
    % for child in item.children():
      <div class="child">
        <input type="button" value="&#x25B6;" title="Play now" onclick="action('${child.prefix()}', '${child.value()}')"/>
        <input type="button" class="rotate" value="&#x21af;" title="Record" onclick="record('${child.prefix()}', '${child.value()}')"/>
        ${child.name()}
      </div>
    % endfor
  </div>
% endfor
</div>
</div>

<script>
  var searchResults = $('#searchresults')
  var currentrequestid = 0
  addListener($('#searchbox'), function(searchText) {
    currentrequestid = currentrequestid + 1
    var myrequest = currentrequestid
    $.get(
      "/search", { text: searchText },
      function(data) {
        if (myrequest == currentrequestid) {
          searchResults.html($(data))
        }
      }
    )
  })
  $('#searchbox').focus()
</script>
